{% extends 'base.html.twig' %}

{% block title %}Yuan Email!{% endblock %}

{% block body %}
<div class="hero bg-base-200 min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<div class="card bg-base-100 w-full shadow-xl">
					<div class="card-body">
						<h1 class="text-5xl font-bold">
							<span class="text-yellow-500">Y</span>uan Mail
						</h1>
						<h2>Quem Somos</h2>
						<p class="py-6">
							A
							<span class="text-yellow-500 font-bold">Y</span>UAN é especialista em gestão de recebíveis, recuperação de crédito e relacionamento com o cliente, oferecemos a melhor solução para rentabilização de sua carteira, pois estamos constantemente analisando as inovações do mercado e focando nossas ações para a obtenção dos melhores resultados.
						</p>
						<div class="card-actions justify-end">
							<a class="btn btn-primary" href="https://yuancob.com.br/">Ir para site</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
